<ul class="alert-danger">
    @foreach (var error in Errors)
    {
        <li>@error</li>
    }
</ul>
@if (CurrentUser != null)
{
    <br />
    <h4>User information</h4>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Name</label>
            <input class="form-control" type="text" @bind="CurrentUser.Name" disabled />
        </div>
        <div class="form-group col-md-3">
            <label>Surname</label>
            <input class="form-control" type="text" @bind="CurrentUser.SurName" disabled />
        </div>
        <div class="form-group col-md-3">
            <label>Birth Date</label>
            <input class="form-control" type="date" @bind="CurrentUser.BirthDay" disabled />
        </div>
        <div class="form-group col-md-3">
            <label>Gender</label>
            <input class="form-control" type="text" @bind="CurrentUser.Gender" disabled />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Post Index</label>
            <input class="form-control" type="text" @bind="CurrentUser.PostIndex" />
        </div>
        <div class="form-group col-md-3">
            <label>City</label>
            <input class="form-control" type="text" @bind="CurrentUser.City" />
        </div>
        <div class="form-group col-md-3">
            <label>Street</label>
            <input class="form-control" type="text" @bind="CurrentUser.Street" />
        </div>
        <div class="form-group col-md-3">
            <label>House Number</label>
            <input class="form-control" type="text" @bind="CurrentUser.HouseNumber" />
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" @bind="CurrentUser.UserName" />
    </div>
    <button @onclick="UpdateInformation" class="btn btn-primary">Save Information</button>
}